<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
 	
 	
	<resultMap id="productSelectMap" type="product">
			<result property="prodNo" column="prod_no" jdbcType="NUMERIC"/>
			<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
			<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR"/>
			<result property="manuDate" column="manufacture_day" jdbcType="VARCHAR"/>
			<result property="price" column="price" jdbcType="NUMERIC"/>
			<result property="fileName" column="image_file" jdbcType="VARCHAR"/>
			<result property="regDate" column="reg_date" jdbcType="DATE"/>	
			<result property="proTranCode" column="tran_status_code" jdbcType="VARCHAR"/>	
	</resultMap>
	
	<!-- SQL : INSERT -->
			
	<insert 	id="insertProduct"		parameterType="product" >
	 	INSERT
		INTO product VALUES	 (	seq_product_prod_no.nextval , #{prodName} , #{prodDetail} ,  #{manuDate:VARCHAR} , 
							#{price:NUMERIC} , #{fileName:VARCHAR} , SYSDATE )
	 </insert>
	 
	 <update	id="updateProduct"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		prod_name 	= #{prodName} ,
			prod_detail	= #{prodDetail},
			manufacture_day	= #{manuDate} ,
			price	=	#{price},
			image_file = #{fileName}
	   	</set>
	   	WHERE prod_no = #{prodNo}
	 </update>
	 
	  <select  id="findProduct"  parameterType="product"	resultMap="productSelectMap">
		SELECT *
	 FROM ( SELECT p.prod_no, p.prod_name, p.prod_detail, p.manufacture_day
	  , p.price, p.image_file, p.reg_date, DECODE(t.tran_status_code,'3  ','판매중','2  ','배송완료','1  ','배송중','0  ','구매완료','4  ','구매확정','판매중') tran_status_code
	   FROM product p, transaction t where p.prod_no = t.prod_no(+))
		WHERE prod_no = #{prodNo}	 
	 </select>
		 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM (SELECT p.prod_no, p.prod_name, p.prod_detail, p.manufacture_day
	  , p.price, p.image_file, p.reg_date, NVL(t.tran_status_code,'3') tran_status_code
	   FROM product p, transaction t WHERE p.prod_no = t.prod_no(+)
											<if test="searchCondition != null">
												
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				AND p.prod_no LIKE '%'||#{searchKeyword}||'%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				AND p.price LIKE '%'||#{searchKeyword}||'%'
													</if></if>	) countTable					
	 </select>
	 
	 <select  id="getProductList"  parameterType="search"	resultMap="productSelectMap">
	 SELECT *
	 FROM (		SELECT inner_table. * ,  ROWNUM AS row_seq
	 FROM (	 SELECT p.prod_no, p.prod_name, p.prod_detail, p.manufacture_day
	  , p.price, p.image_file, p.reg_date, DECODE(t.tran_status_code,'3  ','판매중','2  ','배송완료','1  ','배송중','0  ','구매완료','4  ','구매확정','판매중') tran_status_code
	   FROM product p, transaction t where p.prod_no = t.prod_no(+)
											<if test="searchCondition != null">
												
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				 AND p.prod_no LIKE '%'||#{searchKeyword}||'%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				 AND p.price LIKE '%'||#{searchKeyword}||'%'
													</if>																										
											
											</if>	
											) inner_table
	 WHERE ROWNUM &lt;= #{endRowNum} ) 
	 WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	 </select>
	 
	 <select  id="getRegList"  parameterType="search"	resultMap="productSelectMap">
	 SELECT *
	 FROM (		SELECT inner_table. * ,  ROWNUM AS row_seq
	 FROM (select
	 *
	 from
	 product
	 order by reg_date desc) inner_table
	 WHERE ROWNUM &lt;= #{endRowNum} ) 
	 WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	 </select>
	 
	 <select id="regListCount" resultType="int">
		SELECT COUNT(*) 
		FROM (select
	 *
	 from
	 product
	 order by reg_date desc
		) countTable
	   </select>
	 
</mapper>